
.wrap {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	}
	
	
.block{
	margin: 0 122px 60px 0;
	}	
.block:nth-child(4n){
	margin: 0 122px 60px 0;
	}	
.block:nth-child(3n){
	margin: 0 0 60px 0;
	}	
	
	
	